@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);

body {
    margin: 0;
    background-color: #e7ecea;
    font-family: 'Raleway', Arial, sans-serif;
}

#wrapper {
    width: 970px;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-top: 20px;
}

#header {
    color: #2CC185;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#text {
    padding: 14px;
}

#text i {
    font-size: 35px;
    font-weight: bold;
}

header {
    border-bottom: 1px solid #ccc;
    background-color: rgba(40,44,42,0.05);
}
header > div > ul > li:first-child {
    border-left: 1px solid #ccc;
}

header > div > ul > li {
    background-color: #f7f7f7;
    display: inline-block;
    padding: 10px 29px;
    border-right: 1px solid #ccc;
    vertical-align: bottom;
    float: left;
    height: 43px;
    text-align: center;
}

header > div > ul > li:hover {
    background-color: rgba(116, 119, 123, 0.01);
}

header > div > ul > li > a {
    font-weight: bold;
    color: #2CC185;
    text-decoration: none;
}

header > div > ul > li > a > i {
    display: block;
}

header i {
    color: #2CC185;
    font-size: 30px;
}

#nav {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

#badge {
    padding: 2px 7px;
    background-color: #DEDEDE;
    border-radius: 50px;
    font-size: 15px;
    color: #2CC185;
    position: absolute;
    top: 15px;
    left: 704px;
}

#forms {
    display: block;
}

#loginForm {
    border: 1px solid #ccc;
    float: left;
    padding: 10px;
    margin: 20px 0 0 25%;
}

#loginForm input {
    display: block;
}

#registerForm {
    border: 1px solid #ccc;
    float: right;
    padding: 10px;
    margin: 20px 25% 20px 0;
    width: 200px;
}

#userHeader {
    padding: 5px;
    border: 1px solid #ccc;
}

#changePasswordForm {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0 20px 40%;
    width: 180px;
}

#changePasswordForm input {
    display: block;
}

#search {
    width: 100px;
}

#searchDiv {
    display: block;
}

#searchDiv input {
    width: 100px;
}

#searchResults {
    position: absolute;
    top: 64px;
    left: 738px;
    text-align: left;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #ccc;
}

#friendRequests {
    position: absolute;
    top: 64px;
    left: 553px;
    padding: 5px;
    background-color: #ccc;
}

ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.profileImageSearch {
    max-width: 50px;
    max-height: 50px;
}

.newsFeedPost {
    min-height: 200px;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}

.newsFeedPost img {
    max-width: 50px;
    max-height: 50px;
}

#editProfileForm {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 260px;
}

#profileImagePreview {
    max-width: 150px;
    max-height: 150px;
}

#coverImagePreview {
    max-width: 260px;
    max-height: 150px;
}

#comments {
    border: 1px solid #ccc;
}

.comment {
    border: 1px solid #ccc;
}

.comment img {
    max-width: 50px;
    max-height: 50px;
}

.friends {
    display: block;
    float: left;
    margin: 3px;
    padding: 3px;
    border: 1px solid #ccc;
}

#friendsPreview {
    border: 1px solid #ccc;
    width: 45%;
    margin: 5px;
    float: right
}

#posts {
    width: 50%;
    float: left;
}

.hover {
    background-color: #ccc;
}

.hover img {
    max-width: 50px;
    max-height: 50px;
}

.clear {
    clear: both;
}


