#wrapper {
    width: 970px;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-top: 20px;
}

header {
    width: 1170px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
}

header h3 {
    text-align: center;
}

#forms {
    display: block;
}

#loginForm {
    border: 1px solid #ccc;
    float: left;
    padding: 10px;
    margin: 20px 0 0 25%;
}

#loginForm input {
    display: block;
}

#registerForm {
    border: 1px solid #ccc;
    float: right;
    padding: 10px;
    margin: 20px 25% 20px 0;
    width: 200px;
}

#userHeader {
    padding: 5px;
    border: 1px solid #ccc;
}

#changePasswordForm {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0 20px 40%;
    width: 180px;
}

#changePasswordForm input {
    display: block;
}

#searchResults {
    position: absolute;
    left: 5px;
}

#friendRequests {
    position: absolute;
    right: 5px;
}

ul {
    list-style-type: none;
}

.profileImageSearch {
    max-width: 50px;
    max-height: 50px;
}

.newsFeedPost {
    min-height: 200px;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}

.newsFeedPost img {
    max-width: 50px;
    max-height: 50px;
}

#editProfileForm {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 260px;
}

#profileImagePreview {
    max-width: 150px;
    max-height: 150px;
}

#coverImagePreview {
    max-width: 260px;
    max-height: 150px;
}

#comments {
    border: 1px solid #ccc;
}

.comment {
    border: 1px solid #ccc;
}

.comment img {
    max-width: 50px;
    max-height: 50px;
}

.friends {
    display: block;
    float: left;
    margin: 3px;
    padding: 3px;
    border: 1px solid #ccc;
}

#friendsPreview {
    border: 1px solid #ccc;
    width: 45%;
    float: right
}

#posts {
    width: 50%;
    float: left;
}

.hover {
    background-color: #ccc;
}

.hover img {
    max-width: 50px;
    max-height: 50px;
}

.clear {
    clear: both;
}


