<h3>SoftUni Social Network</h3>

<span ng-if="authService.isLoggedIn()">
    <a href="#/">Home</a>
    <a href="#/profile/password">Change Password</a>
    <span><b>Welcome, {{authService.getCurrentUser().userName}}</b></span>
    <a href="#/" ng-click="logout()" ng-controller="LogoutController">Logout</a>

    <div id="searchDiv" ng-controller="SearchController">
        <input type="text" ng-model="searchUserInput" ng-change="searchUser(searchUserInput)" placeholder="Search..."
               required ng-focus="showHideResults()" ng-blur="showHideResults()"/>

        <div id="searchResults" ng-show="showSearchResults">
            <ul>
                <li ng-repeat="searchResult in searchObj">
                    <img class="profileImageSearch"
                         ng-src="{{checkAndFormatImgUrl(searchResult) || 'resources/defaultProfilePicture.jpg'}}"/>
                    {{searchResult.name}}
                </li>
            </ul>
            <span ng-click="clickTest()" ng-if="searchObj">{{searchObj.length}} results total</span>
        </div>
    </div>

</span>