<form name="changePasswordForm" id="changePasswordForm" ng-submit="changePassword(userData)">
    <h3>Change Password</h3>

    <label for="oldPassword">Old password:</label>
    <input type="password" id="oldPassword" ng-model="userData.oldpassword" required="required"/>

    <label for="newPassword">New password:</label>
    <input type="password" id="newPassword" ng-model="userData.newpassword" required="required"/>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" ng-model="userData.confirmPassword" required="required"/>

    <button type="submit">Change Password</button>
    <a href="#/" class="button">Cancel</a>
</form>