<div ng-if="post.totalCommentsCount >= 0" id="comments" ng-controller="CommentsController">

    <a href="" ng-if="post.totalCommentsCount - post.comments.length > 0" ng-hide="isHidden"
       ng-click="showAllComments(post); isHidden = true">
        Show All {{post.totalCommentsCount}} Comments</a>


    <div class="comment" ng-repeat="comment in post.comments | orderBy: 'id'">
        <div class="commentHeader">
            <div class="buttons">
                <button ng-if="comment.author.username == authService.getCurrentUser().userName ||
        post.author.username == authService.getCurrentUser().userName" ng-click="deleteComment(post, comment)">Delete
                </button>

                <button ng-if="comment.author.username == authService.getCurrentUser().userName"
                        ng-click="comment.editing = true"
                        ng-hide="comment.editing">Edit
                </button>
            </div>

            <a ng-controller="HoverController" href="#/users/{{comment.author.username}}"
               hover-intent="hoverBox(comment.author.username)"
               ns-popover ns-popover-template="templates/hoverBox.html"
               ns-popover-trigger="mouseenter" ns-popover-timeout="0.5" ns-popover-placement="bottom">
                <img ng-src="{{comment.author.profileImageData || 'resources/defaultProfilePicture.jpg'}}"/>
                {{comment.author.name}}</a>
        </div>
        <div class="postContent" ng-hide="comment.editing">{{comment.commentContent}}</div>
        <div ng-show="comment.editing">
            <form ng-submit="editComment(post, comment)">
                <textarea ng-model="comment.commentContent" cols="30" rows="3">
                    comment.commentContent
                </textarea>
                <button type="submit" ng-click="comment.editing = false">Save</button>
                <a href="" ng-click="comment.editing = false">Cancel</a>
            </form>
        </div>

        <div class="floatRight">{{dateFromNow(comment.date)}}</div>
        <div class="clear"></div>
        <div ng-if="isFriend || post.author.isFriend || post.wallOwner.isFriend">
            <a class="floatRight" ng-if="!comment.liked" href="" ng-click="likeComment(post, comment)">Like</a>
            <a class="floatRight" ng-if="comment.liked" href="" ng-click="unlikeComment(post, comment)">Unlike</a>
        </div>
        <div class="clear"></div>

        <div class="floatRight">Likes: {{comment.likesCount}}</div>
        <div class="clear"></div>
    </div>

    <div ng-if="isFriend || post.author.isFriend || post.wallOwner.isFriend">
        <form id="addCommentForm" name="addCommentForm" ng-submit="addComment(post, commentData)">
            <textarea class="commentContent" placeholder="Comment..." ng-model="commentData.commentContent"
                      minlength="2" required></textarea>
            <button type="submit">Comment</button>
        </form>
    </div>
</div>