<div ng-if="post.totalCommentsCount > 0" id="comments" ng-controller="CommentsController">
    <a href="" ng-if="post.totalCommentsCount > 3" ng-hide="isHidden"
       ng-click="showAllComments(post); isHidden = true">
        Show All {{post.totalCommentsCount}} Comments</a>

    <div class="comment" ng-repeat="comment in post.comments | orderBy: 'id'">
        <div>{{comment.author.name}}: {{comment.commentContent}}</div>
        <div>{{dateFromNow(comment.date)}}</div>
        <a ng-if="!comment.liked" href="" ng-click="likeComment(post, comment)">Like</a>
        <a ng-if="comment.liked" href="" ng-click="unlikeComment(post, comment)">Unlike</a>

        <div>Likes: {{comment.likesCount}}</div>
    </div>

    <textarea ng-model="commentData.commentContent"></textarea>
    <button ng-click="addComment(post, commentData)">Comment</button>
</div>