<div ng-if="isFriend">
    <a href="{{friendsPreviewList.friendsUrl}}">
        Friends - {{friendsPreviewList.totalCount}} total.</a>
    <ul>
        <li class="friends" ng-repeat="friend in friendsPreviewList.friends">
            <a href="#/users/{{friend.username}}">
                <img class="profileImageSearch"
                     ng-src="{{friend.profileImageData || 'resources/defaultProfilePicture.jpg'}}"/>
                {{friend.name}}
            </a>
        </li>
    </ul>
    <div class="clear"></div>
</div>