<header>
    <h3>SoftUni Social Network</h3>

<span ng-if="authService.isLoggedIn()">
    <a href="" ng-click="routeReload()">Home</a>
    <a href="#/users/{{authService.getCurrentUser().userName}}">Profile</a>
    <a href="#/users/{{authService.getCurrentUser().userName}}/friends">Friends</a>
    <a href="#/profile/password">Change Password</a>
    <a href="#/profile">Edit Profile</a>

    <span id="searchDiv" ng-controller="SearchController">
        <input type="text" ng-model="searchUserInput" ng-change="searchUser(searchUserInput)" placeholder="Search..."
               required ng-focus="showHideResults()" ng-blur="showHideResults()"/>

        <div id="searchResults" ng-show="showSearchResults">
            <ul>
                <li ng-repeat="searchResult in searchObj">
                    <a href="#/users/{{searchResult.username}}">
                        <img class="profileImageSearch"
                             ng-src="{{searchResult.profileImageData || 'resources/defaultProfilePicture.jpg'}}"/>
                        {{searchResult.name}}
                    </a>
                </li>
            </ul>
            <span ng-if="searchObj">{{searchObj.length}} results total</span>
        </div>
    </span>

    <span><b>Welcome, {{authService.getCurrentUser().userName}}</b></span>
    <a href="" ng-click="logout()" ng-controller="LogoutController">Logout</a>
</span>
</header>