<div ng-controller="HoverController"
     ng-if="userPreviewData && userPreviewData.username != authService.getCurrentUser().userName" class="hover">
    <img ng-src="{{userPreviewData.profileImageData || 'resources/defaultProfilePicture.jpg'}}"/>

    <div>{{userPreviewData.name}}</div>
    <div ng-controller="FriendsController">
        <button ng-if="!userPreviewData.isFriend && !userPreviewData.hasPendingRequest" ng-click="sendFriendRequest(userPreviewData)">
            Send friend request
        </button>
        <button ng-if="!userPreviewData.isFriend && userPreviewData.hasPendingRequest" disabled>Friend request pending
        </button>
        <button ng-if="userPreviewData.isFriend" disabled>Friend</button>
    </div>
</div>