<form id="loginForm" name="loginForm" ng-submit="login(userData)">
    <h2>Login</h2>

    <label for="username">Username:</label>
    <input type="text" id="username" ng-model="userData.username" required="required"/>

    <label for="password">Password:</label>
    <input type="password" id="password" ng-model="userData.password" required="required"/>

    <button type="submit">Login</button>
</form>

<h2>login with Q</h2>
<form id="loginFormQ" name="loginForm" ng-submit="loginWithQ(userDataQ)">
    <label for="username">Username:</label>
    <input type="text" ng-model="userDataQ.username" required="required"/>

    <label for="password">Password:</label>
    <input type="password" ng-model="userDataQ.password" required="required"/>

    <button type="submit">Login</button>
</form>