<form id="registerForm" name="registerForm" ng-submit="register(userData)">
    <h2>Register</h2>

    <label for="username">Username:</label>
    <input type="text" id="username" ng-model="userData.username" required="required"/>

    <label for="password">Password:</label>
    <input type="password" id="password" ng-model="userData.password" required="required"/>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" ng-model="userData.confirmPassword" required="required"/>

    <label for="name">Name:</label>
    <input type="text" id="name" ng-model="userData.name" required="required"/>

    <label for="email">Email:</label>
    <input type="email" id="email" ng-model="userData.email" required="required"/>

    <label for="male">Male</label>
    <input ng-model="userData.gender" id="male" type="radio" name="gender" value="Male" required>

    <label for="female">Female</label>
    <input ng-model="userData.gender" id="female" type="radio" name="gender" value="Female" required>

    <label for="other">Other</label>
    <input ng-model="userData.gender" id="other" type="radio" name="gender" value="Other" required>

    <button type="submit" ng-disabled="registerForm.$invalid">Register</button>
</form>