<div>{{userFullData.name}}</div>
<img ng-src="{{userFullData.profileImageData}}" id="profileImagePreview"/>
<img ng-src="{{userFullData.coverImageData}}" id="coverImagePreview"/>
<div ng-controller="FriendsController" ng-if="userFullData.username != authService.getCurrentUser().userName">
    <button ng-if="!userFullData.isFriend && !userFullData.hasPendingRequest" ng-click="sendFriendRequest(userFullData)">Send friend
        request
    </button>
    <button ng-if="!userFullData.isFriend && userFullData.hasPendingRequest" disabled>Friend request pending</button>
    <button ng-if="userFullData.isFriend" disabled>Friend</button>
</div>